/*queries for big smartphones*/
@media only screen and (max-width: 600px){
	.mainheader {
        font-size: 1.1em;
        text-align: center;
    }
    .secondheader {
        font-size: 1.2em;
        text-align: center;
    }
    .aboutme {
        text-align: center;
        font-size: .8em;
        padding: 30px;
    }
    .thirdheader {
        font-size: 1.2em;
        text-align: center;
    }
    .servicelist {
        text-align: center;
        font-size: .8em;
        padding: 30px;
    }
    .fourthheader {
        font-size: 1.2em;
        text-align: center;
    }
    .githubpagehyperlink {
        text-align: center;
        font-size: .8em;
    }
    .githubstats {
        width: 80%;
        height: auto;
        text-align: center;
        padding: 0px;
    }
    .usedlanguages {
        width: 70%;
        height: auto;
        text-align: center
    }
    .bottomtext {
        text-align: center;
        font-size: .8em;
        padding-left: 25px;
        padding-right: 25px;
    }
}
@media only screen and (max-width: 1200px){
    .aboutme {
        text-align: center;
        padding: 30px;
    }
    .servicelist {
        text-align: center;
        padding: 30px;
    }
    .bottomtext {
        padding-left: 25px;
        padding-right: 25px;
    }
}